main > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-users {
    display: flex;
    border: solid 4px blue;
    height: 30rem;
}

p {
    font-family: "Times New Roman";
    /*font-family: 'TheGoodMonolith', sans-serif;*/
    /*font-weight: bold;*/
    font-size: 1.15rem;
    margin: 0.3rem;
}

#user p {
    white-space: nowrap;
}