<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat v0.1</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/chat.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/input.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/users.css" />
</head>
<body>

<main>
    <section>
        <div id="chat-users"> <!-- Align chat and online users list with each other -->
            <div>
                <div id="chat">
                    <!-- User messages -->
                </div>
            </div>

            <div id="users">
                <div id="user">
                    <!-- List of users -->
                </div>
            </div>
        </div>

        <div id="chat-input-div">
            <input type="text" id="chat-input" placeholder="Enter your message" maxlength="100">
        </div>
    </section>
</main>

<script src="../static/js/script.js"></script>

</body>
</html>
